:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
.d-flex {
  display: flex;
}
.d-flexd{
  flex-direction: row;
}
.f-wrap{
  flex-wrap: wrap;
}
.d-grid {
  display: grid;
}
.d-block{
  display: block;
}
.gap-20 {
  gap: 20px;
}
.gap-10{
gap: 10px;
}
.rad-10 {
  border-radius: 10px;
}
.b-none{
  border: none;
}
.between-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.center-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-white {
  background-color: white;
}
.bg-eee {
  background-color: #eee;
}
.c-black {
  color: black;
}
.c-orange{
  color: var(--orange-color);
}
.c-black {
  color: black;
}
.c-white {
  color: white;
}
.c-grey {
  color: var(--grey-color);
}
.c-red {
  color: var(--red-color);
}
.c-green {
  color: var(--green-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-white{
  color: white;
}
.p-5{
  padding: 5px;
}
.p-10 {
  padding: 10px;
}
.p-15 {
  padding: 15px;
}
.p-20 {
  padding: 20px;
}
.pl-15{
  padding-left: 15px;
}
.p-relative {
  position: relative;
}
.p-absolute{
  position: absolute;
}
.m-0 {
  margin: 0;
}
.m-20{
  margin: 20px;
}
.mt-0 {
  margin-top: 0;
}
.mt-5 {
  margin-top: 5px;
}
.mt-10{
  margin-top: 10px;
}
.mt-20{
  margin-top: 20px;
}
.mt-25{
  margin-top: 25px;
}
.mb-10{
  margin-bottom: 10px;
}
.mb-20{
  margin-bottom: 20px;
}
.pr-10{
  padding-right: 10px;
}
.mr-25{
  margin-right: 25px;
}
.mr-15{
  margin-right: 15px;
}
.txt-center {
  text-align: center;
}
.rad-6 {
  border-radius: 6px;
}
.rad-half{
  border-radius: 50%;
}
.fs-14 {
  font-size: 14px;
}
.fs-15{
  font-size: 15px;
}
.fs-13{
  font-size: 13px;
}
.fs-18{
  font-size: 18px;
}
.align-center {
  align-items: center;
}
.w-full {
  width: 100%;
}
.w-fit{
  width: fit-content;
}
@media (max-width: 767px) {
  .txt-c-mobile {
    text-align: center;
  }
  .block-mobile {
    display: block;
  }
  .hide-mobile {
    display: none;
  }
}
.btn-shape{
  padding: 4px 10px;
  border-radius: 6px;
}
.fw-bold{
  font-weight: bold;
}
.flex-grow-1{
  flex-grow: 1;
}
.h-full{
  height: 100%;
}