/* general styles */
body{
    margin: 0;
    padding: 0;

}
/* .unitsContainer,  */
.sectionsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.tabContainer {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    background-color: rgba(0, 128, 255, 0.7);
    margin: 1%;
    border-radius: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.tabContainer:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.tabImage {
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabImage>img {
    max-width: 80%;
    max-height: 80%;
}

.tabText h2 {
    margin-top: 10px;
}
#edit-section-form,
#delete-section-form,
.add-section-form {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    top: 50px;
    right: 0;
    z-index: 1000;

}

#edit-section-form label,
#delete-section-form label,
.add-section-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}
#edit-section-form input[type="text"],
#edit-section-form input[type="color"],
#edit-section-form input[type="file"],
#delete-section-form input[type="text"],
.add-section-form input[type="text"],
.add-section-form input[type="color"],
.add-section-form input[type="file"]
{
    width: 95%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#edit-section-form button,
#delete-section-form button,
.add-section-form button  
{
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

#add-section-id {
    background-color: #4CAF50;
    color: white;
    margin-right: 10px;
}
#edit-section-button-id {
    background-color: #3c97bf;
    color: white;
    margin-right: 10px;
}

#cancel-edit-section-id,
#cancel-delete-section-id,
#cancel-add-section-id {
    background-color: rgba(128, 128, 128, 0.678);
    color: white;
}

#delete-section-button{
    background-color: #f44336;
    color: white;
    margin-right: 10px;
}

#add-section{
    background-color: green;
}

#delete-section{
    background-color: red;
}

.section-svg-icons{
    display: flex;
    flex-direction: row;
    margin: 0 20px;
}

.section-svg-icons-forms{
    display: flex;
    float: right;
}

svg {
    border-radius: 3px;
    border:none;
    transition: background-color 0.2s ease;
    z-index: 10;
}

.section-svg-container{
    display: flex;
    justify-content: space-between;
    width: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    margin-top: 135px;
}

.group-container{
    display: flex;
}

#add-section-icon:hover {
    fill: white;
    background-color: green;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#delete-section-icon:hover {
    fill: white;
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}
#edit-section-icon:hover {
    fill: white;
    background-color: #3c97bf;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}