:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
}
* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
.w-full {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
.sidebar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.sidebar > h3 {
  margin-bottom: 50px;
}
.sidebar > h3::after,
.sidebar > h3::before {
  content: "";
  background-color: black;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}
.sidebar > h3::before {
  width: 80px;
  height: 3px;
  bottom: -20px;
}
.sidebar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: -28px;
  border: 4px solid #fff;
}
.sidebar ul li a {
  margin-bottom: 10px;
  transition: 0.3s;
}
.sidebar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
.sidebar ul li a:hover,
.sidebar ul li a.active {
  /* background-color: #f6f6f6; */
  background-color: #3F9FD3;
  color: white;
}
@media (max-width: 767px) {
  .sidebar {
    width: 60px;
    padding: 10px;
  }
  .sidebar > h3 {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .sidebar ul li span {
    display: none;
  }
}
.content {
  overflow: hidden;
}
.head .search::before {
  content: "\f002";
  font-family: var(--fa-style-family-classic);
  font-weight: 900;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
.head .search input {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 5px;
  padding-left: 30px;
  width: 160px;
  transition: width 0.3s;
}
.head .search input:focus {
  width: 200px;
}
.head .search input:focus::placeholder {
  color: transparent;
}
.head .icons .notification::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  right: -5px;
  top: -7px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.page h1 {
  margin: 20px 20px 40px;
}
.page h1::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 150px;
  height: 3px;
  bottom: -10px;
}
.page h1::after {
  content: "";
  position: absolute;
  background-color: black;
  width: 60px;
  height: 3px;
  left: 0;
  bottom: -10px;
}
.page .logoimg {
  margin: 10px 30px;
}
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
/* @media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .body > div {
    margin-top: 20px;
  }
  .tickets .box{
    width: 100%;
  }
  .news .first{
    display: block;
    text-align: center;
  }
} */
/* Start Welcome Widget */
.welcome {
  overflow: hidden;
}
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
.welcome .avatar {
  width: 64px;
  height: 64px;
  border: 2px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow: 0 0 5px #ddd;
  margin-left: 20px;
  margin-top: -32px;
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body > div {
  flex: 1;
}
.welcome .visit {
  margin: 0 15px 15px auto;
  transition: 0.3s;
}
.welcome .visit:hover,
.draft .save:hover {
  background-color: var(--blue-alt-color);
}
.draft input,
.draft textarea {
  border: none;
}
.draft textarea {
  resize: none;
  min-height: 180px;
}
.draft .save {
  margin-left: auto;
  cursor: pointer;
  transition: 0.3s;
}
.targets .target-row .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.targets .details {
  flex: 1;
}
.targets .progress {
  height: 4px;
}
.targets .details .progress > span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
}
.targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  color: white;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
}
.targets .details .progress > span span::after {
  content: "";
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.targets .details .progress > .blue span::after {
  border-top-color: var(--blue-color);
}
.targets .details .progress > .orange span::after {
  border-top-color: var(--orange-color);
}
.targets .details .progress > .green span::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
  background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
  background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
  background-color: rgb(34 197 94 / 20%);
}
.tickets .box {
  border: 1px solid #d1cece;
  border-radius: 6px;
  width: calc(50% - 10px);
  /* padding: 20px 80px; */
  align-items: center;
}
.box .num {
  font-size: 25px;
}
.news .news-row img {
  width: 100px;
  border-radius: 10px;
  margin-right: 15px;
}
.news .info {
  flex-grow: 1;
}
.news .info p,
.news .label {
  font-size: 12px;
}
.news .info h3 {
  font-size: 16px;
  margin: 0 0 6px;
}
.news .news-row:not(:last-of-type) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
    gap: 10px;
  }
  .welcome .intro {
    padding-bottom: 30px;
  }
  .welcome .body > div {
    margin-top: 20px;
  }
  .tickets .box {
    width: 100%;
  }
  .news .news-row {
    display: block;
    text-align: center;
  }
  .news .info {
    margin-bottom: 10px;
  }
}
.tasks .task-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.tasks .task-row .delete {
  transition: 0.3s;
}
.tasks .task-row .delete:hover {
  color: red;
}
.tasks .done {
  opacity: 0.3;
}
.tasks .done h3,
.tasks .done p {
  text-decoration: line-through;
}
.search .items {
  padding: 15px 0 20px;
}
.uploads ul li img {
  width: 40px;
  height: 40px;
}
.uploads ul li:not(:last-of-type) {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.progress ul::before {
  content: "";
  position: absolute;
  left: 11px;
  height: 100%;
  width: 3px;
  background-color: var(--blue-color);
}
.progress ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 50%;
  background-color: white;
  margin-right: 15px;
  border: 2px solid #fff;
  outline: 2px solid var(--blue-alt-color);
  z-index: 1;
}
.progress ul li.done::before {
  content: "";
  background-color: var(--blue-alt-color);
}
.progress ul li.current::before {
  content: "";
  animation: change-color 0.8s infinite alternate;
}
.progress .lunch {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  opacity: 0.2;
}
@keyframes change-color {
  from {
    background-color: white;
  }
  to {
    background-color: var(--blue-alt-color);
  }
}
.reminders ul li .key {
  width: 15px;
  height: 15px;
}
.reminders ul li > .blue {
  border-left: 2px solid var(--blue-color);
}
.reminders ul li > .green {
  border-left: 2px solid var(--green-color);
}
.reminders ul li > .orange {
  border-left: 2px solid var(--orange-color);
}
.reminders ul li > .red {
  border-left: 2px solid var(--red-color);
}
.post img {
  width: 60px;
  height: 60px;
  margin-right: 15px;
  border-radius: 50%;
}
.postContent {
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}
.postContent p {
  line-height: 1.8;
  text-transform: capitalize;
  padding: 15px 0;
}
.Socialmedia .twitter .icon i {
  background-color: var(--blue-color);
  padding: 10px;
  margin-right: 15px;
}
.Socialmedia .facebook .icon i {
  background-color: var(--blue-alt-color);
  padding: 10px 15px 10px 16px;
  margin-right: 15px;
}
.Socialmedia .linkedin .icon i {
  background-color: var(--blue-alt-color);
  padding: 10px 15px 10px 16px;
  margin-right: 15px;
}
.Socialmedia .youtube .icon i {
  background-color: var(--red-color);
  padding: 10px 8px 10px 8px;
  margin-right: 15px;
}
.Socialmedia .twitter,
.Socialmedia .facebook,
.Socialmedia .linkedin {
  background-color: rgb(29 161 242 / 20%);
  padding: 0 15px 0 0;
  border-radius: 5px;
}
.Socialmedia .youtube {
  background-color: rgb(255 0 0 / 20%);
  padding: 0 15px 0 0;
  border-radius: 5px;
}
.Socialmedia .linkedin .icon i {
  background-color: #0077b5;
  padding: 10px 12px 10px 12px;
}
.Socialmedia .icon i {
  transition: 0.3s;
}
.Socialmedia .icon i:hover {
  transform: rotate(5deg);
}
.table .responsive-table {
  overflow-x: auto;
}
.table table {
  border-spacing: 0;
}
.table table thead tr {
  background-color: #eee;
}
.table table td,
.table table th {
  padding: 24px 20px;
  text-align: left;
}
.table table tr:hover {
  background-color: #f4f4f4;
}
.table table td {
  border: 1px solid #f6f0f0;
}
.table table img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 2px;
  background-color: white;
}
.table table img:not(:first-child) {
  margin-left: -20px;
}
@media (max-width: 767px) {
  .table .ResImg {
    padding: 24px 50px;
  }
}
/* Finish The Dashboard Page */
/* Start setting Page */
